[package]
authors = ["KILT <info@kilt.io>"]
description = "Shared traits and structs used across the KILT pallets"
edition = "2021"
name = "kilt-support"
repository = "https://github.com/KILTprotocol/kilt-node"
version = "1.7.4"

[dependencies]
codec = {package = "parity-scale-codec", version = "3.1.5", default-features = false, features = ["derive"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.142", optional = true, features = ["derive"]}

cumulus-primitives-core = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/cumulus"}
frame-support = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/substrate"}
polkadot-core-primitives = {branch = "release-v0.9.29", default-features = false, git = "https://github.com/paritytech/polkadot"}
sp-core = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-runtime = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-std = {branch = "polkadot-v0.9.29", default-features = false, git = "https://github.com/paritytech/substrate"}
xcm = {branch = "release-v0.9.29", default-features = false, git = "https://github.com/paritytech/polkadot"}

[dev-dependencies]
serde_json = "1.0.83"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
default = ["std"]
mock = []
runtime-benchmarks = [
  "sp-runtime/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
]
std = [
  "serde",
  "codec/std",
  "cumulus-primitives-core/std",
  "frame-support/std",
  "frame-system/std",
  "polkadot-core-primitives/std",
  "scale-info/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-std/std",
  "xcm/std",
]
try-runtime = [
  "frame-support/try-runtime",
]
