[package]
authors = ["KILT <info@kilt.io>"]
description = "Substrate pallet issueing a pre-configured amount of tokens to the treasury."
edition = "2021"
name = "pallet-inflation"
repository = "https://github.com/KILTprotocol/kilt-node"
version = "1.7.4"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dev-dependencies]
serde = "1.0.142"

pallet-balances = {branch = "polkadot-v0.9.27", git = "https://github.com/paritytech/substrate"}
sp-core = {branch = "polkadot-v0.9.27", git = "https://github.com/paritytech/substrate"}
sp-io = {branch = "polkadot-v0.9.27", git = "https://github.com/paritytech/substrate"}

[dependencies]
codec = {package = "parity-scale-codec", version = "3.1.5", default-features = false, features = ["derive"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.142", optional = true}

# benchmarking
frame-benchmarking = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27", default-features = false, optional = true}

# Substrate dependencies
frame-support = {branch = "polkadot-v0.9.27", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system = {branch = "polkadot-v0.9.27", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-runtime = {branch = "polkadot-v0.9.27", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-std = {branch = "polkadot-v0.9.27", default-features = false, git = "https://github.com/paritytech/substrate"}

[features]
default = ["std"]

runtime-benchmarks = [
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
]

std = [
  "codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "serde",
  "scale-info/std",
  "sp-runtime/std",
  "sp-std/std",
]

try-runtime = [
  "frame-support/try-runtime",
]
