stages:
  - test
  - build

clippy:
  image: paritytech/ci-linux:f203f298-20220421
  stage: test
  timeout: 1 hours
  script:
    - rustup component add clippy --toolchain nightly
    - cargo +nightly clippy --all-features --all-targets --locked -- -D warnings

fmt:
  image: paritytech/ci-linux:f203f298-20220421
  stage: test
  timeout: 1 hours
  script:
    - rustup component add rustfmt --toolchain nightly
    - cargo +nightly fmt -- --check

test:
  image: paritytech/ci-linux:f203f298-20220421
  stage: test
  timeout: 1 hours
  script:
    - cargo test --all --all-targets --locked

test-features:
  image: paritytech/ci-linux:f203f298-20220421
  stage: test
  timeout: 1 hours
  script:
    - cargo test --all --all-features --all-targets

build:
  image:
    name: kiltprotocol/kilt-ci:2.2.38
    entrypoint: [""]
  stage: build
  only:
    refs:
      - develop
      - master
      - /^[0-9]+(?:\.[0-9]+){2}$/
  variables:
    DOCKER_HUB_PARACHAIN: "kiltprotocol/kilt-node"
    DOCKER_HUB_STANDALONE: "kiltprotocol/mashnet-node"
  before_script:
    - aws --version
    - docker --version
  script:
    - echo -n $CI_REGISTRY_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_REGISTRY

    - ./.maintain/build-image.sh build
    - "if [[ ! -z ${CI_COMMIT_BRANCH} ]]; then ./.maintain/push-image.sh build ${CI_COMMIT_SHORT_SHA}; fi"
    - "if [[ ! -z ${CI_COMMIT_BRANCH} ]]; then ./.maintain/push-image.sh build latest-${CI_COMMIT_BRANCH}; fi"
    - "if [[ ! -z ${CI_COMMIT_TAG} ]]; then ./.maintain/push-image.sh build ${CI_COMMIT_TAG}; fi"
    - "if [[ ! -z ${CI_COMMIT_TAG} ]]; then ./.maintain/push-image.sh build latest; fi"

build-wasm-peregrine:
  image:
    name: paritytech/srtool:1.57.0
    entrypoint: [""]
  stage: build
  only:
    - develop
    - master
  script:
    - export PACKAGE=peregrine-runtime
    - export RUNTIME_DIR=runtimes/peregrine
    - cp -r * /build
    - /srtool/build build
    - mkdir ./out
    - mv /out/* ./out/
  artifacts:
    paths:
      - out/*.wasm
    expire_in: 12 week

build-wasm-spiritnet:
  image:
    name: paritytech/srtool:1.57.0
    entrypoint: [""]
  stage: build
  only:
    - develop
    - master
  script:
    - export PACKAGE=spiritnet-runtime
    - export RUNTIME_DIR=runtimes/spiritnet
    - cp -r * /build
    - /srtool/build build
    - mkdir ./out
    - mv /out/* ./out/
  artifacts:
    paths:
      - out/*.wasm
    expire_in: 12 week
