[profile.release]
panic = "unwind"

[workspace]
members = [
  "nodes/parachain",
  "nodes/standalone",
  "pallets/attestation",
  "pallets/kilt-launch",
  "pallets/ctype",
  "pallets/delegation",
  "pallets/did",
  "runtimes/parachain",
  "runtimes/standalone",
]

[patch.crates-io]
frame-benchmarking = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
frame-support = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
frame-system = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-api = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-api-proc-macro = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-application-crypto = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-core = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-debug-derive = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-externalities = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-io = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-runtime = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-runtime-interface = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-state-machine = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-std = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-storage = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sp-version = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
sc-consensus-aura = {git = "https://github.com/paritytech/substrate", branch = "rococo-v1"}
polkadot-test-runtime = {git = "https://github.com/paritytech/polkadot", branch = "rococo-v1"}
