[package]
authors       = { workspace = true }
description   = "Pallet enabling storing finalize relay head data on chain."
documentation = { workspace = true }
edition       = { workspace = true }
homepage      = { workspace = true }
license-file  = { workspace = true }
name          = "pallet-relay-store"
readme        = "README.md"
repository    = { workspace = true }
version       = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dev-dependencies]
sp-io       = { workspace = true, features = ["std"] }
sp-keystore = { workspace = true, features = ["std"] }
sp-runtime  = { workspace = true, features = ["std"] }
sp-trie     = { workspace = true, features = ["std"] }

[dependencies]
cumulus-pallet-parachain-system = { workspace = true, features = ["parameterized-consensus-hook"] }
cumulus-primitives-core         = { workspace = true }
frame-support                   = { workspace = true }
frame-system                    = { workspace = true }
log                             = { workspace = true }
parity-scale-codec              = { workspace = true, features = ["derive"] }
scale-info                      = { workspace = true, features = ["derive"] }
sp-core                         = { workspace = true }
sp-std                          = { workspace = true }

# Benchmarks
frame-benchmarking = { workspace = true, optional = true }
sp-runtime         = { workspace = true, optional = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "cumulus-pallet-parachain-system/runtime-benchmarks",
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "cumulus-pallet-parachain-system/std",
  "cumulus-primitives-core/std",
  "frame-benchmarking?/std",
  "frame-support/std",
  "frame-system/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "sp-core/std",
  "sp-runtime?/std",
  "sp-std/std",
]
try-runtime = ["frame-support/try-runtime", "frame-system/try-runtime"]
