[package]
authors = ["KILT <info@kilt.io>"]
description = "Enables adding and removing decentralized identifiers (DIDs)."
edition = "2018"
name = "did"
repository = "https://github.com/KILTprotocol/mashnet-node"
version = "0.24.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder-runner = {version = "3.0.0"}

[dev-dependencies]
ctype = {features = ["mock"], path = "../ctype", version = "0.24.0"}
env_logger = {version = "0.8.3"}
kilt-primitives = {default-features = false, path = "../../primitives"}
pallet-membership = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
serde = {version = "1.0.101"}

[dependencies]
# Internal dependencies
ctype = {features = ["mock"], optional = true, path = "../ctype", version = "0.24.0"}
kilt-primitives = {default-features = false, optional = true, path = "../../primitives"}

# External dependencies
codec = {default-features = false, features = ["derive"], package = "parity-scale-codec", version = "2.0.0"}
env_logger = {default-features = false, optional = true, version = "0.8.3"}
frame-support = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
hex = {default-features = false, features = ["alloc"], version = "0.4.2"}
log = {default-features = false, version = "0.4.14"}
serde = {optional = true, version = "1.0.101"}
sp-core = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-io = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
sp-runtime = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-std = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}

[features]
default = ["std"]
mock = [
  "ctype",
  "env_logger",
  "kilt-primitives",
  "serde",
  "sp-io",
]
runtime-benchmarks = []
std = [
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "hex/std",
  "log/std",
  "sp-core/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
]
