[package]
authors = ["KILT <info@kilt.io>"]
edition = "2021"
name = "runtime-common"
version = "1.6.2"

[dev-dependencies]
sp-io = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}

[dependencies]
codec = {package = "parity-scale-codec", version = "3.1.2", default-features = false, features = ["derive"]}
log = "0.4.16"
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.136", optional = true, features = ["derive"]}
smallvec = "1.8.0"

attestation = {default-features = false, path = "../../pallets/attestation"}
parachain-staking = {default-features = false, path = "../../pallets/parachain-staking"}

frame-support = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
frame-system = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
pallet-authorship = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
pallet-balances = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
pallet-membership = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
pallet-transaction-payment = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
sp-consensus-aura = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
sp-core = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
sp-io = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}
sp-std = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19"}

# Runtime tests
frame-try-runtime = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19", optional = true}

[features]
default = ["std"]
fast-gov = []
runtime-benchmarks = [
  "attestation/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "parachain-staking/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "attestation/std",
  "parachain-staking/std",
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-transaction-payment/std",
  "pallet-balances/std",
  "pallet-membership/std",
  "pallet-authorship/std",
  "scale-info/std",
  "serde",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-try-runtime",
]
