[package]
authors       = { workspace = true }
description   = "A pallet for creating bonded coins that can be minted by placing a collateral."
documentation = { workspace = true }
edition       = { workspace = true }
homepage      = { workspace = true }
license-file  = { workspace = true }
name          = "pallet-bonded-coins"
readme        = "README.md"
repository    = { workspace = true }
version       = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
scale-info         = { workspace = true, features = ["derive"] }
# Substrate
frame-benchmarking = { workspace = true }
frame-support      = { workspace = true }
frame-system       = { workspace = true }
sp-arithmetic      = { workspace = true }
sp-core            = { workspace = true }
sp-runtime         = { workspace = true }
sp-std             = { workspace = true }

#External 
substrate-fixed = { workspace = true }

[dev-dependencies]
pallet-assets   = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }
serde           = { workspace = true }
sp-keystore     = { workspace = true, features = ["std"] }

# Substrate
sp-io = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
]
std = [
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"substrate-fixed/std",
]
try-runtime = ["frame-support/try-runtime", "frame-system/try-runtime"]
