[package]
authors = ["KILT <info@kilt.io>"]
edition = "2018"
name = "mashnet-node-runtime"
version = "0.24.0"

[build-dependencies]
substrate-wasm-builder = "4.0.0"

[dependencies]
bitflags = {default-features = false, version = "1.2.1"}
serde = {features = ["derive"], optional = true, version = "1.0"}

# kilt functionality
attestation = {default-features = false, path = "../../pallets/attestation"}
ctype = {default-features = false, path = "../../pallets/ctype"}
delegation = {default-features = false, path = "../../pallets/delegation"}
did = {default-features = false, path = "../../pallets/did"}
kilt-launch = {default-features = false, path = "../../pallets/kilt-launch"}
kilt-primitives = {path = "../../primitives", default-features = false}

# kilt specific
pallet-vesting = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.3"}

# Benchmarking
frame-benchmarking = {git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.3"}
frame-system-benchmarking = {git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.3"}
hex-literal = {version = "0.3.1", optional = true}

# Substrate
codec = {default-features = false, features = ["derive"], package = "parity-scale-codec", version = "2.0.0"}
frame-executive = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
frame-support = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
frame-system = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
frame-system-rpc-runtime-api = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-aura = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-authorship = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-balances = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-grandpa = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-indices = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-randomness-collective-flip = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-session = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-sudo = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-timestamp = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-transaction-payment = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-transaction-payment-rpc-runtime-api = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
pallet-utility = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-api = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-arithmetic = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-block-builder = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-consensus-aura = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "0.9.0"}
sp-core = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-inherents = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-io = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-offchain = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-runtime = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-session = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-std = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-transaction-pool = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}
sp-version = {branch = "polkadot-v0.9.3", default-features = false, git = "https://github.com/paritytech/substrate", version = "3.0.0"}

[features]
default = ["std"]
runtime-benchmarks = [
  "attestation/runtime-benchmarks",
  "ctype/runtime-benchmarks",
  "delegation/runtime-benchmarks",
  "did/runtime-benchmarks",
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "kilt-launch/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-indices/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-vesting/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "attestation/std",
  "codec/std",
  "ctype/std",
  "delegation/std",
  "did/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "kilt-launch/std",
  "kilt-primitives/std",
  "pallet-aura/std",
  "pallet-authorship/std",
  "pallet-balances/std",
  "pallet-grandpa/std",
  "pallet-indices/std",
  "pallet-randomness-collective-flip/std",
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pallet-vesting/std",
  "serde",
  "sp-api/std",
  "sp-arithmetic/std",
  "sp-block-builder/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
]
