[package]
authors = ["KILT <info@kilt.io>"]
edition = "2021"
name = "mashnet-node-runtime"
version = "1.6.2"

[build-dependencies]
substrate-wasm-builder = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}

[dependencies]
bitflags = {default-features = false, version = "1.3.2"}
codec = {package = "parity-scale-codec", version = "3.1.2", default-features = false, features = ["derive"]}
log = "0.4.16"
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}

hex-literal = {version = "0.3.4", optional = true}
serde = {version = "1.0.136", optional = true, features = ["derive"]}

# kilt functionality
attestation = {default-features = false, path = "../../pallets/attestation"}
ctype = {default-features = false, path = "../../pallets/ctype"}
delegation = {default-features = false, path = "../../pallets/delegation"}
did = {default-features = false, path = "../../pallets/did"}
kilt-support = {path = "../../support", default-features = false, optional = true}
pallet-did-lookup = {default-features = false, path = "../../pallets/pallet-did-lookup"}
pallet-web3-names = {default-features = false, path = "../../pallets/pallet-web3-names"}
runtime-common = {path = "../../runtimes/common", default-features = false}

# kilt specific

# Benchmarking
frame-system-benchmarking = {git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.19"}

# Substrate
frame-benchmarking = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-executive = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-support = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system-rpc-runtime-api = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-aura = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-authorship = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-balances = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-grandpa = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-indices = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-proxy = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-randomness-collective-flip = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-session = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-sudo = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-timestamp = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-transaction-payment = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-transaction-payment-rpc-runtime-api = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-utility = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-vesting = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-api = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-arithmetic = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-block-builder = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-consensus-aura = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-core = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-inherents = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-io = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-offchain = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-runtime = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-session = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-std = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-transaction-pool = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-version = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}

# Runtime tests
frame-try-runtime = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19", optional = true}

[features]
default = ["std"]
runtime-benchmarks = [
  "attestation/runtime-benchmarks",
  "ctype/runtime-benchmarks",
  "delegation/runtime-benchmarks",
  "did/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-system-benchmarking",
  "hex-literal",
  "runtime-common/runtime-benchmarks",
  "kilt-support",
  "kilt-support/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-did-lookup/runtime-benchmarks",
  "pallet-indices/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-web3-names/runtime-benchmarks",
  "pallet-vesting/runtime-benchmarks",
  "pallet-proxy/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "frame-benchmarking/std",
  "attestation/std",
  "codec/std",
  "ctype/std",
  "delegation/std",
  "did/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system/std",
  "frame-system-rpc-runtime-api/std",
  "frame-try-runtime/std",
  "log/std",
  "pallet-aura/std",
  "pallet-authorship/std",
  "pallet-balances/std",
  "pallet-did-lookup/std",
  "pallet-grandpa/std",
  "pallet-indices/std",
  "pallet-proxy/std",
  "pallet-randomness-collective-flip/std",
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-web3-names/std",
  "pallet-vesting/std",
  "runtime-common/std",
  "scale-info/std",
  "serde",
  "sp-api/std",
  "sp-arithmetic/std",
  "sp-block-builder/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
]
try-runtime = [
  "attestation/try-runtime",
  "delegation/try-runtime",
  "ctype/try-runtime",
  "did/try-runtime",
  "frame-executive/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "frame-try-runtime",
  "pallet-aura/try-runtime",
  "pallet-authorship/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-did-lookup/try-runtime",
  "pallet-grandpa/try-runtime",
  "pallet-indices/try-runtime",
  "pallet-proxy/try-runtime",
  "pallet-randomness-collective-flip/try-runtime",
  "pallet-session/try-runtime",
  "pallet-sudo/try-runtime",
  "pallet-timestamp/try-runtime",
  "pallet-web3-names/try-runtime",
  "pallet-utility/try-runtime",
  "pallet-transaction-payment/try-runtime",
  "pallet-vesting/try-runtime",
]
