[package]
authors = ["KILT <info@kilt.io>"]
description = "Parachain parachain-staking pallet for collator delegation and selection as well as reward distribution"
edition = "2021"
name = "parachain-staking"
version = "1.6.2"

[dev-dependencies]
pallet-aura = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}
pallet-timestamp = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}
sp-consensus-aura = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}
sp-core = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}
sp-io = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19"}

[dependencies]
hex-literal = "0.3.4"
log = "0.4.16"
parity-scale-codec = {version = "3.1.2", default-features = false, features = ["derive"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.136", optional = true}

kilt-support = {default-features = false, path = "../../support"}

frame-support = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
frame-system = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
pallet-authorship = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
pallet-balances = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
pallet-session = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
sp-runtime = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
sp-staking = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}
sp-std = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false}

# benchmarking
frame-benchmarking = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19", default-features = false, optional = true}

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
]
std = [
  "frame-support/std",
  "frame-system/std",
  "kilt-support/std",
  "log/std",
  "pallet-authorship/std",
  "pallet-balances/std",
  "pallet-session/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "serde",
  "sp-runtime/std",
  "sp-staking/std",
  "sp-std/std",
]
try-runtime = [
  "frame-support/try-runtime",
  "kilt-support/try-runtime",
]
