name: Deploy Chain docs

on:
  push:
    branches:
      - develop
      - 'refs/tags/[0-9]+.[0-9]+.[0-9]+*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Deploy in Container
        run: |
          docker run --rm \
            -v "${GITHUB_WORKSPACE}:/workspace" \
            -v "${HOME}/.cargo:/root/.cargo" \
            -w /workspace \
            paritytech/ci-unified:bullseye-1.74.0 \
            bash -c "
              RUSTDOCFLAGS='-D warnings' cargo doc --all-features --no-deps --locked && \
              chown -R $(id -u):$(id -g) target/doc"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
