name: Trigger GitLab Deploy Pipeline

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Check codebase"]
    branches:
      - develop
      - master
      - 'refs/tags/[0-9]+.[0-9]+.[0-9]+*'
    types:
      - completed

jobs:
  trigger-gitlab:
    name: Trigger GitLab CI
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Config Gitlab env
        run: |
          git config --global user.name "github-actions[bot]"
          git remote add gitlab https://oauth2:${{ secrets.KILTBOT_PUSH_ACCESS_TOKEN }}@gitlab.com/kiltprotocol/kilt-node

      - name: Push latest ref (branch or tag)
        run: git push gitlab ${{ github.ref_name }}

      - name: Trigger GitLab CI
        run: |
          curl -X POST \
            -F token=${{ secrets.GITLAB_TRIGGER_TOKEN }} \
            -F ref=${{ github.ref_name }} \
            https://gitlab.com/api/v4/projects/${{ vars.GITLAB_PROJECT_ID }}/trigger/pipeline
