# These env variables are mandatory for the tests to work.

# The Spiritnet block number to be used in the tests
SPIRITNET_BLOCK_NUMBER=
# The HydraDx block number to be used in the tests
HYDRADX_BLOCK_NUMBER=
# The Polkadot block number to be used in the tests
POLKADOT_BLOCK_NUMBER=
# Directory path to the new WASM blob
SPIRITNET_WASM_OVERRIDE=
# The AssetHub block number to be used in the tests 
ASSETHUB_BLOCK_NUMBER=


# Optional env variables
HYDRADX_TEST_WS=
HYDRADX_TEST_PORT=

HYDRADX_WS=
HYDRADX_PORT=

ASSETHUB_WSS=
ASSETHUB_MAIN_PORT=

ASSETHUB_TEST_WSS=
ASSETHUB_TEST_PORT=

SPIRITNET_WS=
SPIRITNET_PORT=

PEREGRINE_WS=
PEREGRINE_PORT=

POLKADOT_WS=
POLKADOT_PORT=

PASEO_WS=
PASEO_PORT=
