# Those env variables are mandatory for the tests to work.

# The Spiritnet block number to be used in the tests
SPIRITNET_BLOCK_NUMBER=
# The HydraDx block number to be used in the tests
HYDRADX_BLOCK_NUMBER=
# The Polkadot block number to be used in the tests
POLKADOT_BLOCK_NUMBER=
# Directory path to the new WASM blob
SPIRITNET_WASM_OVERRIDE=
