[package]
authors = ["KILT <info@kilt.io>"]
description = "Enables creating and revoking root nodes of delegation hierarchies; adding and revoking delegation nodes based on root nodes."
edition = "2021"
name = "delegation"
repository = "https://github.com/KILTprotocol/mashnet-node"
version = "1.6.2"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder-runner = "3.0.0"

[dev-dependencies]
attestation = {features = ["mock"], path = "../attestation"}
ctype = {features = ["mock"], path = "../ctype"}
kilt-support = {features = ["mock"], path = "../../support"}

# External dependencies
env_logger = "0.9.0"
serde = "1.0.136"

# Substrate dependencies
pallet-balances = {branch = "polkadot-v0.9.19", git = "https://github.com/paritytech/substrate"}
sp-core = {branch = "polkadot-v0.9.19", git = "https://github.com/paritytech/substrate"}
sp-keystore = {branch = "polkadot-v0.9.19", git = "https://github.com/paritytech/substrate"}

[dependencies]
# Internal dependencies
attestation = {default-features = false, path = "../attestation"}
ctype = {default-features = false, path = "../ctype"}
kilt-support = {default-features = false, path = "../../support"}

#External dependencies
bitflags = {default-features = false, version = "1.3.2"}
codec = {package = "parity-scale-codec", version = "3.1.2", default-features = false, features = ["derive"]}
log = "0.4.16"
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = {version = "1.0.136", optional = true}

# Substrate dependencies
frame-benchmarking = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
frame-support = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
frame-system = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
pallet-balances = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
sp-core = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
sp-io = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
sp-keystore = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate", optional = true}
sp-runtime = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}
sp-std = {branch = "polkadot-v0.9.19", default-features = false, git = "https://github.com/paritytech/substrate"}

[features]
default = ["std"]
mock = [
  "pallet-balances",
  "serde",
  "sp-core",
  "sp-io",
  "sp-keystore",
  "kilt-support/mock",
]
runtime-benchmarks = [
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "kilt-support/runtime-benchmarks",
  "sp-core",
  "sp-io",
]
std = [
  "attestation/std",
  "codec/std",
  "ctype/std",
  "frame-support/std",
  "frame-system/std",
  "kilt-support/std",
  "log/std",
  "pallet-balances/std",
  "scale-info/std",
  "sp-core/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
]
try-runtime = [
  "frame-support/try-runtime",
  "kilt-support/try-runtime",
]
